<div class="mod_h1">  
<h1>Word Frequency</h1>
</div>

<div class="result_text">

<p>The frequency of <span class='word'>"<%= @input_word %>"</span> in <span class='word'>"<%= @input_string %>"</span> is: <span class='result'> <%= @result %> </span></p>

</div>
